<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969243304496-r141pm8p5kpem6am72nljn1vagmtfdb7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969243304496-r141pm8p5kpem6am72nljn1vagmtfdb7</string>
	<key>API_KEY</key>
	<string>AIzaSyAzkVz3FAG8P0JcCygyafAKKreB9IIVg2s</string>
	<key>GCM_SENDER_ID</key>
	<string>969243304496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.FootMark</string>
	<key>PROJECT_ID</key>
	<string>footmark-d2895</string>
	<key>STORAGE_BUCKET</key>
	<string>footmark-d2895.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969243304496:ios:6913541fc1c6d2f51143f5</string>
</dict>
</plist>